include README.md
include LICENSE
include CITATION.cff
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml
include requirements.txt
include environment.yaml
recursive-include test_data *.tif
recursive-include test_data *.shp *.shx *.dbf *.prj *.cpg
